.btn {
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 200ms;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn:focus {
  outline: 2px solid rgb(59 130 246);
  outline-offset: 2px;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.primary {
  background-color: rgb(37 99 235);
  color: white;
}

.primary:hover:not(:disabled) {
  background-color: rgb(29 78 216);
}

.secondary {
  background-color: rgb(229 231 235);
  color: rgb(31 41 55);
}

.secondary:hover:not(:disabled) {
  background-color: rgb(209 213 219);
}

.small {
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
}

.medium {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}

.large {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}